@charset "UTF-8";

/*
   
	aquarius-cms.ch - global.css

	aquaverde GmbH, 2011
		
*/


/* --------------------- reset */

* { padding: 0; margin: 0; border: 0; outline: none; }


/* --------------------- misc */

body { background: #f9f9f9; }

html, body { height: 100%; }

ul { margin-left: 15px; }

img.left { float: left; margin: 3px 10px 3px 0 }

span.green { color: #f90; }


/* --------------------- clearfix */

.clear:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
 
.clear { display: inline-block; } html[xmlns] .clear { display: block; } * html .clear { height: 1%; }


/* --------------------- typography */

body, input, textarea, select { font: 16px/20px Arial, Helvetica, sans-serif; color: #000; }

strong, p strong, p b { font: 16px/20px Arial, Helvetica, sans-serif; color: #000; }

p.italic { font-style: italic; }

p+p, h1+p, h3+p, h2+ul, h2+p, ul+p, p+a { margin-top: 20px; }

h1 { font: 25px/30px Arial, Helvetica, sans-serif; color: #000; }

h2 { font: 18px/20px Arial, Helvetica, sans-serif; color: #000; }

h3 { font: bold 16px/20px Arial, Helvetica, sans-serif; color: #000; }


/* --------------------- links */

a:link, a:active, a:visited { color: #000; text-decoration: underline; }

a:hover { color: #000; text-decoration: none; }


#footer a:link, #footer a:active, #footer a:visited { color: #fff; text-decoration: underline; }

#footer a:hover { color: #fff; text-decoration: none; }


div.teaser a:link, div.teaser a:active, div.teaser a:visited { color: #fff; text-decoration: underline; }

div.teaser a:hover { color: #fff; text-decoration: none; }


a.more { padding: 2px 0 0 20px; display: inline-block; }

html.win a.more { padding-top: 0; }

a.more:link, a.more:active, a.more:visited { color: #000; text-decoration: underline; }

a.more:hover { color: #000; text-decoration: none;}


a.more.teaserlink { padding: 2px 0 0 20px; display: inline-block; }

html.win a.more.teaserlink { padding-top: 0; }

a.more.teaserlink:link, a.more.teaserlink:active, a.more.teaserlink:visited { color: #fff; text-decoration: underline;}

a.more.teaserlink:hover { color: #fff; text-decoration: none;}


a.download { padding: 2px 0 0 20px; display: inline-block; }

html.win a.download { padding-top: 0; }

a.download:link, a.download:active, a.download:visited { color: #000; text-decoration: underline;}

a.download:hover { color: #000; text-decoration: none; }


a.download.teaserlink { padding: 2px 0 0 20px; display: inline-block; }

html.win a.download.teaserlink { padding-top: 0; }

a.download.teaserlink:link, a.download.teaserlink:active, a.download.teaserlink:visited { color: #fff; text-decoration: underline; }

a.download.teaserlink:hover { color: #fff; text-decoration: none;  }


a.next { padding: 2px 20px 0 0; display: inline-block; float: right; }

html.win a.next { padding-top: 0; }

a.next:link, a.next:active, a.next:visited { color: #000; text-decoration: underline; }

a.next:hover { color: #000; text-decoration: none; }


a.prev { padding: 2px 0 0 20px; display: inline-block; float: left; }

html.win a.prev { padding-top: 0; }

a.prev:link, a.prev:active, a.prev:visited { color: #000; text-decoration: underline;  }

a.prev:hover { color: #000; text-decoration: none; }


h2 a { text-decoration: none !important; }


/* --------------------- layout */

#wrapper { width: 1000px; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto; }

#header { position: relative; width: 1000px; height: 431px; }

#header #logo { position: absolute; top: 0; left: 0; width: 380px; height: 60px; padding: 20px 20px 20px 20px; background: #000; z-index: 2; }

#content { width: 1000px; padding: 55px 0 60px 0; }

#leftCol { width: 720px; float: left; padding-left: 20px; }

#leftCol div.mainTopics { list-style: none; margin-top: 55px; }

#leftCol div.mainTopics div { position: relative; padding: 17px 19px 57px 19px; background: #fff; margin-right: 20px; float: left; }

#leftCol div.mainTopics div a.more { position: absolute; bottom: 17px; left: 19px; }

#leftCol div.mainTopics div.last { margin: 0; }

#leftCol div.siblings { margin-top: 22px; }

#leftCol ul.news { list-style: none; margin: 22px 0 0 0; }

#leftCol ul.news li { padding: 17px 19px; background: #fff; }

#leftCol div.address { width: 156px; float: left; }

#leftCol #map { width: 539px; height: 450px; margin-top: 4px; float: right; border: 1px #fff solid; }

#rightCol { width: 240px; float: right; padding-top: 4px; }

#rightCol .teaser { width: 202px; padding: 17px 19px; background: #000; color: #fff; margin-bottom: 20px; }

#rightCol .teaser h2 { color: #fff; }

#rightCol .news { width: 202px; padding: 17px 19px; background: #fff; color: #000; margin-bottom: 20px; }

#clear { width: 1000px; height: 60px; clear: both; }

#footer { width: 962px; height: 26px; max-height: 26px; margin: -60px auto 0 auto; background: #000; color: #fff; padding: 34px 19px 0 19px; }

#footer div.left { float: left; }

#footer strong { color: #fff; }


/* --------------------- coda slider */

div.imgSlider { position: relative; width: 1000px; height: 370px; float: left; overflow: hidden; background: #ccc;}

div.imgSlider, .imgSlider .panel { width: 1000px; }

div.imgSlider .panelContainer { position: relative; height: 370px; }

div.imgSlider .panelContainer .panel { position: relative; height: 370px; display: block; float: left; overflow: hidden; }

div.imgSlider .panelContainer .panel.blue span.claim, div.imgSlider .panelContainer .panel.blue span.legend { color: #000 !important; }

div.imgSlider .panelContainer .panel span.claim { position: absolute; left: 0; bottom: 27px; width: 960px; padding: 0 20px; font: 35px/45px Arial, Helvetica, serif; color: #fff; }

div.imgSlider .panelContainer .panel span.legend { position: absolute; left: 0; bottom: -13px; width: 960px; padding: 0 20px; text-align: right; font: 14px Arial, Helvetica, serif; color: #fff; }



/* --------------------- navigation */

ul.language { position: absolute; bottom: 14px; right: 20px; list-style: none; float: right; margin: 0; }

ul.language li { display: inline; float: left; font-size: 14px; color: #fff; }

ul.language li a { float: left; text-transform: uppercase; }

ul.language li a:link, ul.language li a:active, ul.language li a:visited { color: #fff; text-decoration: none; }

ul.language li a:hover, ul.language li a.on { color: #f90; text-decoration: none; }


ul.metaNav { list-style: none; float: right; margin: 0; }

ul.metaNav li { display: inline; float: left; }

ul.metaNav li a { float: left; }

ul.metaNav li a:link, ul.metaNav li a:active, ul.metaNav li a:visited { color: #fff; text-decoration: none; }

ul.metaNav li a:hover, ul.metaNav li a.on { color: #fff; text-decoration: none; }


ul.mainNav { width: 1000px; height: 60px; float: left; border-top: 1px #f9f9f9 solid; list-style: none; background: #f90; margin: 0; }

ul.mainNav li { position: relative; float: left; }

ul.mainNav li a { height: 29px; padding: 31px 10px 0 20px; background: #f90; float: left; border-right: 1px #f9f9f9 solid; font: 20px/20px Arial, Helvetica, sans-serif; }

ul.mainNav li:last-child a { border: none; }

ul.mainNav li a:link, ul.mainNav li a:active, ul.mainNav li a:visited { color: #000; text-decoration: none; }

ul.mainNav li a:hover { color: #000; text-decoration: none; }

ul.mainNav li a.on { background: #f90 url(../interface/navTriangle.png) center bottom no-repeat; }


ul.subNav { position: absolute; top: 52px; left: 0; list-style: none; background: #f90; display: none; z-index: 5000; margin: 0; }

ul.subNav li a { height: auto; padding: 5px 20px; margin: 0; border: none; background: none; clear: left; display: block; font: 15px Arial, Helvetica, sans-serif; }

ul.subNav li a:link, ul.subNav li a:active, ul.subNav li a:visited { color: #000; text-decoration: none; }

ul.subNav li a:hover, ul.subNav li a.on { font: 15px Arial, Helvetica, sans-serif; background: none; }