
/*
   
	aquarius-cms.ch - global.css

	aquaverde GmbH, 2011
		
*/

div.imgSlider, div.arrow, ul.language, ul.mainNav, #rightCol, #clear, #footer { display: none; }

#header { height: 60px; margin-bottom: 60px; }

#leftCol { padding-left: 0; }

#wrapper, #header, #content { width: 720px; }