/* bootstrap override */

h1, h2, h3 { margin-bottom: 10px; margin-top: 0px;}
.form-control { height: auto; font-size: 13px; padding: 4px 6px; border: 1px solid #ccc; border-radius: 0; box-shadow: none; }
hr { margin: 0 0 10px 0; border-color:#e0e0e0; }
.btn { border-radius: 5px; -webkit-font-smoothing:antialiased; font-size:13px; font-weight: 600; margin-top: 15px;}
.btn-primary { background-color: #009DE5; font-size:13px; font-weight: 700; }
.btn.btn-xs { font-size: 12px !important; margin-top: 0; font-weight: normal; }
.btn.btn-xxs { font-size: 10px !important; margin: 0; }
.btn.btn-xxs .glyphicon { font-size: 10px !important; margin-top: 0; }
.btn.btn-sm { margin-top: 0; }

.pull-right .btn { margin: 0; }

.radio, .checkbox { display: inline; min-height: 10px;}
.table { margin-bottom: 5px; }
table.table { border-bottom: 1px solid #DDDDDD;}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th { background-color: #fff; }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { border-top: 1px solid #CCCCCC; vertical-align: middle; }
.btn-link { color: #000; padding:0; margin:0; }

.glyphicon { color: #535353; -webkit-font-smoothing:grayscale; font-size: 12px !important;}
.gi-15x { font-size: 1.5em !important; } /* bigger size for glyphicons */
.alert .glyphicon { font-size: 24px !important; vertical-align: middle; margin-top: -6px; margin-right: 6px; }

.alert-danger .glyphicon { color: #b94a48; }
.alert-success .glyphicon { color: #468847; }

.btn-primary .glyphicon { color: #fff; }

.right_icons.glyphicon  { color: #B8B8B8; margin-left: 3px;}
.right_icons.glyphicon:hover  { color: #009DE5; cursor:help}

.glyphicon.glyphicon-file { color: #B8B8B8;}
.glyphicon.glyphicon-file.node_content_off  { color: red !important; }

.btn-success .glyphicon { color: white; }

.btn-link:hover { color: #009DE5; }

.glyphicon:hover { color: #009DE5; }
button:hover { color: #009DE5; }
button.btn-link:hover { color: #009DE5; }

td, th, tr {-moz-box-sizing: content-box !important;}


html { background-color: #f5f5f5;  height:100%;  }
body { font-size: 13px; background-color: #f5f5f5; min-width: 635px; color: #535353; height:100%; min-height:100%; position:relative; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }
input, textarea { background-color: white; }

.wrapper { border-right: 1px solid #e0e0e0; padding: 20px 40px 30px; min-height:100%; max-width: 1280px; }

h1 { font-size: 36px; color: #009DE5; font-weight: 300; margin-bottom: 15px; margin-top: 5px; -webkit-font-smoothing:antialiased; }
h2 { font-size: 21px; font-weight: 300; margin-bottom: 15px; -webkit-font-smoothing:antialiased; }
h3 { font-size: 13px; font-weight: bold; margin: 3px 0; }
img { border: none; }


.thumb { max-height: 150px; max-width: 180px; margin: 3px; cursor: pointer; }
.superthumb { max-height: 200px; max-width: 200px; margin: 5px; }
div.sourcelink { padding-bottom: 10px; }
thin { font-weight: normal; }
.little { font-size: 11px; line-height: 12px; }
.clear { clear:both; }
.new .glyphicon { color: #5CB85C; top: 3px; font-size: 12px !important;}
.new .glyphicon:hover { color: #000; top: 3px;}
.right { text-align:right; }
.right .btn { margin-right: 0; }

/* outer div */
div#outer { padding: 15px; background-color: #f5f5f5; border: 1px solid #ccc ; margin-bottom: 0; z-index: 1; }
div#outer-closed { padding: 10px 15px 10px 10px; background-color: #f5f5f5; border: 1px solid #f3f3f3 ; min-width: 400px; margin-bottom: 15px; z-index: 1; }
div.multi { padding: 5px 5px 5px 5px; border: 1px solid #8f8f8f ; }
div.message { position: relative; color: #1E3B00; max-height: 53px; overflow: auto; font-size: 13px; vertical-align: middle; background-color: #E4EDBB; border: 2px #C1D473 solid; padding: 6px 10px; margin-bottom: 8px; background-image: url(../picts/ok.png); background-repeat: no-repeat; background-position: 4px 2px; padding-left: 35px; }
div.warn { border: 2px #FEBCBE solid; background-color: #FCE0E1; color: #8F1632; margin: 15px 0; padding: 10px; width: 50%; background-image: url(../picts/error.png); background-repeat: no-repeat; background-position: 8px 5px; padding-left: 70px; }
div.dialog { background-color: #f3f3f3; border: 1px solid #8f8f8f ; width: 300px; width: 400px; margin-top: 10px; padding: 10px 12px 5px 8px; }
div.message.info { color: #513200; border: 2px #FFDD35 solid; min-height: 30px; padding-left: 70px; padding-bottom: 20px; background-color: #FFF6BD; background-image: url(../picts/warn.png); background-repeat: no-repeat; background-position: 8px 5px; overflow: visible; }
div.message.info h1 { color: #513200; font-size: 14px; font-weight: bold; margin: 0; padding: 0; margin-bottom: -10px; }

#outer+.bigbox { margin-top: 20px;  }

/* links elements */
a { color: #000; text-decoration: none;}
a:hover	{ color: #009DE5; text-decoration: none; }	


/* outer boxes */
.bigbox { padding: 15px 0; }
.bigbox h2 { margin-bottom: 5px; }
.bigbox .table2 { margin-bottom: 8px; }
h1+.bigbox { padding: 0; }


/* tables */

/* table 2 */
.table2 { border: none; padding: 0; width: 100% !important; width: 95%; margin-top: 10px; }
.table2 tr { height: 20px; }
.table2 th, .table2 td { padding: 0; border: none; line-height: 9px }
.table2 th { text-align: left; background-color: #fff; }
.table2 tr:hover, .tabledialog tr:hover { background-color: #fff; }
.table2 tr.nohover:hover, .table tr.nohover:hover { background-color: #fff; }
.table2 input { font-size: 11px; border: solid #ccc 1px; text-align: right; padding: 1px 1px; }

/* table 3 */
.table3 { border: none; padding: 0; width: 100% !important; width: 95%; margin-top: 10px; margin-bottom: 25px; }
.table3 tr { height: 20px; }
.table3 th { padding: 5px 0; border: none; line-height: 10px }
.table3 th { text-align: left; background-color: #fff; }
.table3 tr:hover, .tabledialog tr:hover{ background-color: #fff; }
.table3 tr.nohover:hover, .table tr.nohover:hover { background-color: #fff; }
.table3 td, .table3 th { border-bottom: solid #8f8f8f 1px; padding: 5px 2px; font-weight: normal;}
.table3 input { font-size: 11px; border: solid #ccc 1px; text-align: right; padding: 1px 1px; }

.data_table { border: 1px solid #8f8f8f ; }
.data_table td { padding: 5px ; }
.data_table tr.header, .data_table tr.header td { background: #E0E7EC ; }
.data_table tr:hover { background: #fff ; }

.even { background-color: transparent; }
.ref_cell { max-height: 75px; overflow: auto; }


/* general styles */
#browse { margin: 0; padding: 5px; border: solid #ccc 1px; }
#browse img { margin: 0; }
ul { margin: 0; padding: 0; list-style-position: inherit; list-style-type: none; }
.setupitems li { padding: 1px 0; }
#browse li { float: left; margin: 5px; text-align:center;}
#browse li img { padding: 4px; border: solid #ccc 1px; }
#browse li:hover img { padding: 2px; border: solid black 3px; }
#browse li.selected img { padding: 2px; border: solid black 3px; }
#browse li .pict { background-color: transparent; padding: 5px; width: 220px; height: 250px;}
#filelist tr:hover, #filelist label:hover, #filelist input:hover {  }
#selection { clear: both; }
.topnode { font-weight: bold; }
.active { border: 1px #009DE5 solid; padding: 0 4px; background: transparent; }

.toolbox .active { font-weight: normal; border: 1px #009DE5 solid; background-color: transparent; padding: 0 4px; color: #000;}
.toolbox a { color: #000; }
.toolbox a:hover { color: #009DE5; }
.toolbox a.active:hover { color: #fff; background: #009DE5; }
.toolbox .active.dim { color: #ccc; font-style: italic; }
.dim, .toolbox a.dim { color: #8f8f8f; font-style: italic; }
.toolbox a.dim:hover { color: #357EBD; }
.title	{ font-size: 21px; color: #009DE5; }
#path { font-size: 13px; color: #ccc; }
#path a { color: #666; font-weight: normal}	
#path a:hover { color: #009DE5; }
.redFont { font-size: 11px; color: #CC0000; }
.white { color: #fff; }

.on	{ color: #009DE5; }
.on:hover	{ color: #000; }
.off { color: red;  }
.off:hover	{ color: #5CB85C; }

.glyphicon-flag.on	{ color: #5CB85C; }
.glyphicon-flag.on:hover	{ color: red; }
.glyphicon-flag.off { color: red;  }
.glyphicon-flag.off:hover	{ color: #5CB85C; }

.mini { font-size: 10px}
.light { font-weight: normal; color: #8f8f8f; font-size: 11px; }
.eng, .eng a, .dim .eng { font-size: 11px }
.titletop { font-size: 16px; font-weight: bolder; color: #fff; }
div.topbar { margin: 0; padding: 15px; background-color: #e0e0e0; margin-bottom: 20px; }
div.topbar img, div.topbar input { vertical-align: middle; }
.spiner, .action { margin: 3px 0; padding: 0; }
.littleflag { width: 5px;}
.glyphicon.dim { font-size: 10px !important;}


/* toolbar */
#toolbar { background-color: #E3E3E3; border: 0px #ccc solid; height: 29px; padding: 0 10px 0 2px; margin-bottom: 10px; color: #000;}
#toolbar .separator { float: left; border-right: solid #ccc 1px; padding: 2px 10px; height: 29px; vertical-align: middle; line-height: 24px; font-size: 11px; }
#toolbar a, #toolbar select { color: #000; font-size: 11px; }
#toolbar a:hover { color: #009DE5 }
#toolbar select { vertical-align: middle; /*border: solid #8f8f8f 1px;*/ }
.iconbar img { padding: 0 4px; vertical-align: middle; }
.formbar img { padding-top: 0px; }
#toolbar .glyphicon { font-size: 12px; margin-right: 8px; line-height: 22px; }
#toolbar .btn-link { margin-top: -9px !important;}
#toolbar .btn.btn-xs { margin-right: 0 !important; margin-top: 2px; font-size:11px !important; }
.tooltipp, .dropdown { display:inline-block !important;}
#toolbar select.input-sm { height: 25px;   display: inline-block; height: 23px; line-height: 22px; padding: 0; width: 125px; }


/* toolbox */
.toolbox { float: right; margin-top: -66px; margin-bottom: 5px !important; margin-bottom: 1px; padding: 2px; vertical-align: bottom; z-index: 10; text-align: right; margin-right: -11px; }
.toolbox .button, #toolbar .button { font-size: 11px; font-weight: normal; padding: 0px 4px; background-color: #F2F2F2; border-top: 1px solid #CCCCCC; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid #CCCCCC; }
.toolbox a.dim { /*color: #000;*/ }
.toolbox img { padding-top: 2px; margin-right: 5px; vertical-align: middle; }
.toolbox .delete { vertical-align: middle; }
.toolbox form { }
.toolbox2 { float: right; margin-top: -10px !important; margin-top: -3px; margin-bottom: 0px !important; margin-bottom: 3px; padding: 3px 0 3px 6px; text-align: center; background-color: #f2f5f7; z-index: 10; }
.toolboxtop	 { float: right; margin-top: -11px; }
		
input.savebutton { position:absolute; right:28px; top:41px	 }
#goto { display: none; float: left; margin-top: -10px !important; margin-top: -3px; padding: 3px 0 3px 4px; background-color: #f2f5f7; width: 160px; vertical-align: middle; }
#goto img { vertical-align: middle; margin-top: -3px; }
#goto a, #outer-closed a { color: #8f8f8f; }
		
#goto2 { float: left; margin:0; padding: 0; background-color: #e0e7ec;	 }
.lastchange { float: right; font-size: 11px; color: #ADADAD; } 

.dropdown-menu { font-size: 13px; border-radius: 0; }
.dropdown-menu .btn { font-weight: normal; padding: 3px 20px; font-size: 13px;}
.dropdown-menu .btn:hover { text-decoration: none; }
.dropdown-menu .glyphicon { margin-right: 5px;}
.dropdown-menu .divider { margin: 4px 0; }
.caret { color: #666;}


/* form elements */
form { padding: 0; margin: 0; }
img { vertical-align: middle; }
input, textarea { font-size: 13px; margin: 0; padding: 2px; color: black; }
input[type="radio"], input[type="checkbox"], input.checkbox { border: none; margin: 0; }
#contentedit-form input[type="radio"], #contentedit-form input[type="checkbox"], #contentedit-form input.checkbox { margin-top: 6px; }
input[type="image"], .imagebutton { border: none; margin: 0; padding: 0; vertical-align:middle; background-color: transparent; cursor: pointer; }
input[type="file"] { background-color: transparent; cursor: pointer;}
input.imagebutton { border: none; margin: 0; padding: 0; vertical-align:middle; margin-top: -1px; margin-bottom: -1px;    }
input.rooticon { margin-left: -5px; }
label { display: block; padding-top: 3px; padding-bottom: 3px; margin-right: 5px; font-weight: normal; margin-bottom: 0;}
label.inline { display: inline; border: none;padding-top: 0;}
.code { font-family: 'Source Code Pro Medium', Consolas, Monaco, 'Courier New', Courier, monospace; font-size: 13px; }
input.checkbox { border: none; vertical-align:middle; }	
.inputsmall { font-size: 13px; padding: 4px 6px; border: 1px solid #ccc; border-radius: 2px; color: #555; }
img.label_img {vertical-align: middle; cursor:help; float:right; margin-right: 5px; margin-top: 1px;}
.permission_level0 { background: url(../buttons/permission_superadmin.gif) right 4px no-repeat; margin-right: 3px;}
.permission_level1 { background: url(../buttons/permission_siteadmin.gif) right 4px no-repeat; margin-right: 3px;}
.permission_level2 { color: black }

input.inputweight { width: 30px; margin-bottom: 0px; border: 1px #CCC solid; font-size: 10px; text-align: center; padding: 0; }
.contentedit_daypricing table {width: 550px;}
.contentedit_daypricing input[type="text"] {margin-top:-1px; text-align: right;}
.contentedit_daypricing td {padding: 3px 0;}
.contentedit_daypricing tr:hover { background-color: #fff; }
.permission_level0.language_independent, .permission_level1.language_independent, .permission_level2.language_independent {margin-right: 0;}
.permission_level0.language_independent .label_img , .permission_level1.language_independent .label_img , .permission_level2.language_independent .label_img {margin-right: -48px;}


.button { font-size: 11px; font-weight: normal; padding: 1px 4px; margin-top: 8px; background-color: #F2F2F2; border-top: 1px solid #CCCCCC; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid #CCCCCC; cursor: pointer; }
.button:active { background-color: #E0E0E0; border-top: 1px solid #666; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #666; }
.contentedit_pointing_legend .button, .contentedit_pointing .button, .mapmenu_box .button, #toolbar .button { margin-top: 0; line-height:normal; }
/*
.submit	{ clear: both; margin-top: 20px; font-size: 13px; font-weight: bold; padding: 2px 6px; background-color: #F2F2F2; border-top: 2px solid #CCCCCC; border-right: 2px solid #666666; border-bottom: 2px solid #666666; border-left: 2px solid #CCCCCC; margin-right: 4px; }
input[type="submit"]:hover, .submit:hover, .undo:hover, .reset:hover, .cancel:hover, .cursor:hover { cursor: pointer; background-color: #E0E0E0; }
input[type="submit"]:active, .submit:active	{ background-color: #E0E0E0; border-top: 2px solid #666; border-right: 2px solid #ccc; border-bottom: 2px solid #ccc; border-left: 2px solid #666; cursor: pointer; }
*/
input[disabled] { color: #ccc; }
/*
.undo, .cancel { font-size: 12px !important; font-weight: normal; padding: 2px 6px; background-color: #F2F2F2; border-top: 2px solid #CCCCCC; border-right: 2px solid #666666; border-bottom: 2px solid #666666; border-left: 2px solid #CCCCCC; margin-left: 4px; }
.cancel { margin-top: 20px; }
.reset { font-size: 13px; font-weight: normal; padding: 1px 6px; background-color: #F2F2F2; border-top: 2px solid #CCCCCC; border-right: 2px solid #666666; border-bottom: 2px solid #666666; border-left: 2px solid #CCCCCC; color: #999; margin-left: 4px; }
*/
fieldset { margin: 1em 0; padding: 10px 15px; border: 1px #ccc solid; background-color: #FBFBFB; }
legend { padding: 0 0.5em; font-weight: bold; }

legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: none;
    border-image: none;
    border-style: none ;
    border-width: none;
    color: #333333;
    display: block;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0;
    padding: 0;
    width: auto;
}

#boxcontent_sharing { padding-top: 10px; }
#boxcontent_sharing ul { margin-top: 2px; }
#boxcontent_sharing label .label_img {margin-right: 4px;}


/* table styles */
.linetop { border-top-style: solid; border-top-color: #8f8f8f; border-top-width: 1px; }
.linetoplight { border-top-style: solid; border-top-color: #F1F4F8; border-top-width: 1px; }
.lineright { border-right-style: solid; border-right-color: #8f8f8f; border-right-width: 1px; border-top-style: solid; border-top-color: #8f8f8f; border-top-width: 1px; }
.linerightleft { border-right-style: solid; border-right-color: #8f8f8f; border-right-width: 1px; border-left-style: solid; border-left-color: #8f8f8f; border-left-width: 1px; }
.linerightnotop { border-right-style: solid; border-right-color: #8f8f8f; border-right-width: 1px; }
.lineleft { border-left-style: solid; border-left-color: #8f8f8f; border-left-width: 1px; }
.linestart { border-left-style: solid; border-left-color: #8f8f8f; border-left-width: 1px; border-right-style: solid; border-right-color: #8f8f8f; border-right-width: 1px; border-top-style: solid; border-top-color: #8f8f8f; border-top-width: 1px; height: 18px; vertical-align: middle; padding-left: 3px; }
.linestartlight { border-top-style: solid; border-top-color: #E0E7EC; border-top-width: 1px; border-left-style: solid; border-left-color: #8f8f8f; border-left-width: 1px; border-right-style: solid; border-right-color: #8f8f8f; border-right-width: 1px; vertical-align: middle; padding-left: 3px; }
.linebottom { border-bottom-style: solid; border-bottom-color: #8f8f8f; border-bottom-width: 1px; }
.linebottomlight { border-bottom-style: solid; border-bottom-color: #E0E7EC; border-bottom-width: 1px; }
.linebottomlightright { border-bottom-style: solid; border-bottom-color: #E0E7EC; border-bottom-width: 1px; border-right-style: solid; border-right-color: #8f8f8f; border-right-width: 1px; }
.lineallaround { border-left-style: solid; border-left-color: #8f8f8f; border-left-width: 1px; border-right-style: solid; border-right-color: #8f8f8f; border-right-width: 1px; border-top-style: solid; border-top-color: #8f8f8f; border-top-width: 1px; border-bottom-style: solid; border-bottom-color: #8f8f8f; border-bottom-width: 1px; }

.formfield_cell_right { vertical-align:top!important; border-left: 1px solid #ccc !important; }


.dim, .dim a, a.dim, .dimmed a, a.dimmed, tr.dim * { text-decoration: none; color: #8f8f8f; /*color: #ccc ;*/ }
#loginpage { margin: 0; }
#login-outer { background-color: #E0E7EC; }
#login-inner { border-right: 1px solid #fff ; border-left: 1px solid #fff; padding: 0 10px; }
#login-inner td { padding-bottom: 10px; }
.login-firstrow { padding-top: 20px; }
#loginlogo { margin-bottom: 3px; }
#login-submit { margin-bottom: 20px; }
#loginfooter, #loginhead { width: 350px; text-align: left; padding: 4px 0; }
#login p { color: #ccc; }
.darker { background-color: #fff; }
.hell { background-color: #fff; }


/* Formadmin styles */
table.formadmin { border: 1px solid #8f8f8f ; margin-bottom: 4px; }
table.formadmin th { vertical-align: middle; padding: 4px; text-align: left; }
table.formadmin th div { font-weight: normal; font-size: 11px; display: inline; }
table.formadmin td { padding-right: 5px; font-size: 11px; }
table.formadmin input, table.formadmin select { width: 100%; border: 1px solid #ccc ; padding: 1px; font-size: 11px; }
table.formadmin select { font-size: 11px; width: 100px; border: 1px solid #ccc ; padding: 1px; }	
table.formadmin input { background-color: transparent; padding: 2px 1px; }	
	
.rowtitle { font-weight: bold; }
table.formadmin input.dimed { color: #ccc; }
.nodimed { color: #000; }
table.formadmin input.checkbox { width: inherit; border: none; width: 15px; height: 15px; }
table.formadmin tr:hover { background-image: url(../picts/bkg5.gif); }
.table.darker { border-left: 1px solid #ccc ; border-right: 1px solid #ccc ; }

/* Styles for the contentedit pages */
div.contentedit { clear: left; border-top: 1px #e0e0e0 solid; padding-top: 5px; margin-top: 0px;  margin-bottom: 15px;}
#tabbox { margin: 0; padding: 0; }
ul.tabs { position: absolute; top: -31px; left: -1px; /* compensate border */ }
ul.tabs li { display: block; float: left; font-weight: bold; border: 1px solid #ccc; border-bottom: transparent; margin-right: 5px; padding: 6px 12px 5px 12px; background-color: #ededed; cursor: pointer; z-index:-10; font-size: 13px; line-height: 18px; border-radius: 5px 5px 0 0;}
ul.tabs li.active { background-color: #F3F3F3; border: 1px solid #ccc ; border-bottom: 1px solid #F3F3F3 ; }
ul.tabs li:hover { background: #fff; }
ul.tabs li.active:hover { background: #F3F3F3; }

.contentedit_ef .ef, .contentedit_ef .mle, .contentedit_select .select { margin-bottom: 0; }
.contentedit_rte { margin-top: 10px; }
.contentedit_file input.legend { width: 45%; margin-top: 3px;}
.contentedit_file input.empty_legend { font-style: italic; color: grey; }
.contentedit_file .choose_button { margin: 3px; margin-left: 0; vertical-align: middle; cursor: pointer; }
.contentedit_file label { cursor: pointer; }
.contentedit_file select { margin: 3px; margin-left: 0; vertical-align: middle; }
.contentedit_file .thumb { max-height: 200px; max-width: 200px; margin: 3px 0px 1px 0px; }
.contentedit_checkbox { margin-top: 4px; margin-bottom: 0px; }
.contentedit_checkbox input { float: left; display: inline-block; }
.contentedit_checkbox label { display: inline-block; margin-left: 5px; border: none;}
.contentedit_nodelist input { display: inline; }
.contentedit_nodelist label { display: inline; }
.contentedit_date input { }
.contentedit_date img { margin-bottom: -2px; }
.contentedit_nodelist { margin-top: 10px; }
.contentedit_link tr:hover { background-color: inherit;	 } 
#boxpictures table { border-left: 1px solid #CCCCCC ;  border-right: 1px solid #CCCCCC ; }

.drag { cursor: move; }

div.editcontrols { margin: 0; margin-bottom: 10px; }
div.editcontrols input { border: none; padding: 0; }

.contentedit_point label { display: block;	 }
.pointingselect	{ border: 1px solid #8f8f8f ; padding: 5px; margin-top: 5px; background-color: #fff; }
.boxtable tr { height: 20px; }
.inline-item { margin-top: 10px; }
.inline-item label { display: inline; }
.short { width: 100px; }
 
#dynform_block_wrapper { margin-top: 20px; }
.dynform_table { margin-top: 10px ; width: 100% ; }
.dynform_block_td { background: transparent ; padding: 10px ; padding-top: 2px ; padding-bottom: 2px ; }
.dynform_seperator_td { height: 10px ; background: clear ; }
.dynform_line_wrapper { width: 100% ; border-bottom: 1px solid #E0E0E0 ; padding-top: 3px ; padding-bottom: 3px ; height: 27px ; }
.dynform_line_wrapper:hover { background-color: #fff; }
.dynform_line_wrapper_no_border { width: 100% ; padding-top: 5px ; padding-bottom: 5px ; clear: both ; }
.dynform_block_header { font-weight: bold ; float: left ; width: 80% ; }
.dynform_block_controls { float:right ; text-align: right ; width: 100px ; }
.dynform-control-icon { padding-left: 0px ; float: left ; width: 20px ; }
.dynform-data-lg-link { padding-left: 10px ; float: left ; width: 45px ; }
.dynform_field_desc_wrapper { float: left ; width: 80% ; }
.dynform_field_title { float: left ; }
.dynform_field_type { float: right ; width: 170px ; }

.df_new_button, .new_button { font-size: 11px; font-weight: bold; padding: 0px 2px ; margin: 0px ; background-color: #EAFAE5 ; border: 1px solid #34CC01 ; color: #34CC01 ; vertical-align: top ; }
.new_button:hover { color: #148600; }
button.no_deco { border: none ; margin: 0 ; padding: 0 ; }
.fm_form_icon { float: left ; }
.fm_title { float: left ; vertical-align: top ; padding-top: 5px ; padding-left: 3px ; }
.fm_command { padding-top: 3px ; float: right ; }
.nowrap label { display: inline; }


/* Overlay div */
.overlay_background { position: fixed; left: 0; right: 0; top: 0; bottom: 0; opacity: 0.5; }

#nodetree span.title { padding: 0; margin: 0; vertical-align: middle; }
#nodetree span.nodetree_title img { padding: 0; margin: 0; vertical-align: middle; }
#nodetree span.contenttitle { padding-top: 0px; }
#nodetree a.dim { color: #8f8f8f; }
#nodetree a.dim:hover { color: #009DE5; }
#nodetree a.active { color: #000; }
#nodetree a.active:hover { color: #fff; background: #009DE5; }
#nodetree .glyphicon.glyphicon-file { color: #B8B8B8; }
#nodetree .glyphicon.glyphicon-file.off { color: red; }
#nodetree .glyphicon.glyphicon-file:hover { color: #009DE5; }
div.odd { background-color: transparent; }

/* IE7 & IE8 opacity */
filter: alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; background-color: white; z-index: 50; }
.overlay { position: fixed; top: 20%; left: 20%; bottom: 20%; right: 20%; width: auto; height: auto; background-color: #e0e7ec; border: 1px #8f8f8f solid; z-index: 100; padding: 15px; }
.overlay .close { position: absolute; top: 8px; right: 15px; font-size: 11px; font-weight: normal; padding: 1px 4px; background-color: #F2F2F2; border-top: 1px solid #CCCCCC; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid #CCCCCC; }
.overlay .scrollbox { height: 90%; width: 100%; overflow-x: hidden; overflow-y: auto; }
.overlay table { background-color: white; }
.overlay tr:hover { background-color: inherit; }
.overlay tr.selected { background-color: #BEDCE7; }
.rotator { margin-top: -20px; /*margin: 10px;*/ }


/* Make titles of first two levels bold */
.nodetree_title { font-weight: bold; }


/* Ensure the rest of the titles have normal font-weight */
#nodetree .nodetree_container .nodetree_container .nodetree_container .nodetree_title,
.nodetree_title_content { font-weight: normal; }

div.nodetree_container+div.right { margin-top: -20px;}

/* file selection popup */
body.file_select { min-width: 300px; }
body.file_select .wrapper { padding: 5px 15px 15px 15px; border: 0; margin-right: 5px;}

/* file details */
table.meta-file {
    border-collapse: separate;
    border-spacing: 0.3em;
    float: left;
}
table.meta-file th {
    vertical-align: top;
    text-align: right;
}