.dateChooser td {
    cursor:default;
    text-align:center;
    border: 1px solid #fff;
}
.dateChooser td.dateChooserActive:hover {
    color:black;
    background:#BEDCE7;
    border: 1px solid #6286A0;
    cursor: pointer;
}
.dateChooser td.dateChooserActiveToday {
    background-color: #FFDDAB;
    border: 1px solid #FF8F00;
}
    
.dateChooser th {
    background: #E0E7EC;
    color: black;
    width: 18px;
    border: none;
    height: 20px;
    margin-bottom: 2px;
    border-top: 1px solid #6286A0;
    border-bottom: 1px solid #6286A0;
}
.dateChooser select {
    margin-bottom: 3px;
    margin-top: 2px;
    margin-left: 2px;
    }
    
.dateChooser option, .dateChooser select {
    font-size:10px;
}
.dateChooser {
    border: 2px outset #aaa;
    background: white;
    padding: 1px;
}
.dateChooser table {
    width:160px;
    border: 0px solid #6286a0;
}

.dateChooser {
    background-color: white;
    z-index: 1000;
    border: 1px solid #6286a0;
    padding: 2px;
}
