
/* pimp this for you forms */

.form-block {
	margin-top: 15px ; 
}

.form-block col.talon-left { 
	width: 20% ; 	
}

.form-block col.talon-right { 
	width: 80% ; 
}

.form-block .errorInvisible {
    visibility: hidden;    
}

.form-block .errorVisible {
    color: #c00 ;
    visibility: visible ; 
}

.form-block label.errorlabel {
	color: #c00  ;
}

.form-block input.checkerror {
    border: 1px solid #c00;
}

.form-block textarea.checkerror {
    border: 1px solid #c00;
}

.form-block label.checkerror {
    color: #c00;
}


.form-block input.button {
	display: block;
	background-color: green ;
	color: white ;	
	padding: 2px ; 
	padding-left: 20px ; 
	padding-right: 20px ; 
}

.form-block .selecterField {
	width: 250px;
}
/* not used at beges */
.form-block .checkbox {
	border: none;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}

.form-block .checkbox .checkerror {
	border: none;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}
/* end not used */


.blockTitle {
	padding-top: 20px ; 
	border-bottom: 1px solid white ; 
}

.formLabel, .formInput {
	padding-top: 10px ; 
}

.blockTitle {
	padding-top: 20px ; 
	font-weight: bold ; 
}