/****************************** G L O B A L */

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

html { border-right: 1px solid #e0e0e0; height: 100%; }

body { margin-top: 25px; margin-bottom: 40px; }


a { text-decoration: none; }

img {
    border: none;
    vertical-align:middle;
}

/****************************** L I S T I N G */

ul
{
	padding: 0px;
	margin: 0px;
	list-style-position: inherit;
	list-style-type: none;
	background-color: transparent;
}

ul.level0 {
    margin-bottom: 15px; /* Covered by footer */
	width: auto !important;
	min-width: 250px;
	_width: 250px; /* underscore hack uniquement interprété par IE Win */
	border-top: #E0E0E0 1px solid;
	padding-top: 4px;
}

li {
    padding: 0px;
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
}

.menu_entry {
    border-bottom: none;
    /*padding: 3px 3px 3px 10px;*/
}

.menu_entry a {
    padding: 3px 0 3px 10px;
    display: block;
}

.menu_entry a:hover { color: #009DE5; text-decoration:none; }

li.level0  {
    margin-bottom: 4px;
    padding-bottom: 2px;
    border-bottom: #E0E0E0 1px solid;
}

li.level1  .menu_entry a { padding: 0; }

.level0:hover { color: #009DE5; text-decoration:none; }

li.level1  {
    color: #000;
    font-weight: normal;
    text-transform: none;
    padding-left: 20px;
    margin-bottom: 3px;
}

li.level1:hover {}

.level0 a { color: #000; }

.level1 a { color: #000 }

.level0 .menu_entry a:hover { ccolor: #009DE5; text-decoration:none; }

.level1 .menu_entry a:hover { color: #009DE5; text-decoration:none; }


/* Special layout for the inventory menu entries */

#menu_sitemap {
    margin-top: 3px;
}

#menu_sitemap, #menu_lastsearches, #lastchanges_menu, #menu_reload {
    background-color: transparent;
    color: #000;
    font-weight: normal;
}

#nodetree a, #menu_sitemap a, #menu_lastsearches a, #lastchanges_menu a, #menu_reload a {
    color: #000;
}

#nodetree a:hover, #menu_sitemap a:hover, #menu_lastsearches a:hover, #lastchanges_menu a:hover, #menu_reload a:hover
{
	/*text-decoration: underline;*/
	color: #009DE5; text-decoration:none;
}


#nodetree {
    background-color: transparent;
    font-weight: normal;
    color: #000;
}

li.nodetree_entry {
    list-style-type: none;
    font-weight: normal;
    width: 100px;
}

.nodetree_row { vertical-align: middle; padding: 4px 0 1px; }


/* Make titles of first two levels bold */
.nodetree_title {
    font-weight: bold;
}
/* Ensure the rest of the titles have normal font-weight */
.nodetree_container .nodetree_container .nodetree_container .nodetree_title {
    font-weight: normal;
}

.nodetree_icon { position:relative; left: 0px; top: -1px; }

span.top {
    font-weight: bold;
}


.separator hr {
    display: none;
}

li.separator {
   height: 5px;
   border-top: #E0E0E0 1px solid;
}

#footer {
    position: fixed;
    bottom: 0px;
    background-color: #f5f5f5;
    color: #666;
    padding: 5px;
    width: 190px;
}
#footer a {
    color: #6286A0;
}

.topnode {
    font-weight: bold;
}

.dim {
    color: #666;
    font-style: italic;
}

.imgLayer {
    position: relative;
    z-index: -1;
}


#footer {
    color: #666;
    padding: 5px;
    width: 96%;
    font-size: 11px;
}


#footer a {
    color: #666;
}