RewriteEngine on
RewriteCond %{REQUEST_URI} !^/js/
RewriteRule ^(..)($|/|\?).* /index.php?lg=$1 [qsappend]
RewriteRule ^sitemap.xml /sitemap.php
RewriteRule ^(admin|aquarius)/?$ /aquarius/admin/ [R]
RewriteRule ^pdfs/(..)/(\d+)/.* /generate_pdf.php?lg=$1&node_id=$2 [qsappend]

AddDefaultCharset	utf-8

# ErrorDocument 404 /de/notfound.html