Aquarius CMS Requirements
=========================

The following features are required for a minimal install of Aquarius3

* Apache Webserver (other webservers are untested)
    - .htaccess supporting:
        - url-rewriting (mod_rewrite)
        - access control (mod_access)

    - Webserver write access for installation and uploads of files


* PHP
    - version 5.3 or newer
    - required extensions: GD2, zip, bzip2, mbstring, mysqli, bcmath
    - register_globals must be disabled
    - sending mails using the mail() function (alternatively an SMTP relay can
      be configured)
    - set_include_path() supported

* Mysql
    - version 5.0 or higher
    - one database


Notes:
- It is best when the webserver process runs with the same privileges as the 
  user account. This prevents confusion around access privileges. Alternatively,
  the account used to upload files should be able to grant write permissions for
  the webserver using the file transfer protocol (FTP, SFTP).
- Some Aquarius modules require extra features like url_fopen permissions.


