.commentsbox { margin-bottom: 2em; }
.comments { margin-left: 0em; }
.comments input { position: absolute; left: 0; top: 8px; }
.comments li.comment { margin: 0; position: relative; border-top: 1px solid #ccc; }
.comments .header { display: block; background: transparent;  }
.comments .header li { display: inline; margin: 0.5em }
.comments .header .date { position: absolute; left: 1.8em; top: 0; font-size: 1em; }
.comments .header .email { position: absolute; left: 12em; }
.comments .header .name { position: absolute; top: 0; left: 200px;  }
.comments .header .subject {  }
.comments .header .node    { position: absolute; top: 0; right: 0;}
.comments .glyphicon { font-size: 15px !important; margin-top: 4px;}
.comments .body { clear: both; padding: 0.3em; }