/* google Maps */
.mapContent { margin-top:5px; }
.map { border: 1px solid #CCCCCC; height:400px; }
.mapmenu_box { border: 1px solid #CCCCCC; border-top: none; padding: 8px 10px 2px 10px; position: relative; font-size: 12px; height:auto; min-height:25px; }
.location_search { margin: 7px;text-overflow: ellipsis; width: 250px; }
.mapmenu_box input { border: 1px solid #CCCCCC; margin-bottom: 4px; font-size: 12px; }
.mapmenu_box input[type="checkbox"] { border: none; }
.mapmenu_box input[type="radio"] { border: none; }
.mapmenu_box .button { width: inherit; font-size: 12px; font-weight: normal; padding: 0px 4px; background-color: #F2F2F2; border-top: 1px solid #CCCCCC; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid #CCCCCC; }
.mapmenu_box select { font-size: 12px; border: default; margin-bottom: 4px; }
.mapmenu_box .gmap-textfield { width: 250px; }
.mapmenu_box textarea { font-size: 12px; border: 1px solid #CCCCCC; margin-bottom: 4px; }
.mapmenu_box label { padding: 0; margin:0; position:relative; font-size: 12px; }
.mapmenu_box .mapmenu_box_hasparent { font-size: 12px; }
